body {
    margin:0;
    width:100%;
    height:100%;
}

.bigdiv {
   background-color: #ffffff;
   width: 1700px;
   height: 75px;
   position: static;
}

.circle {
  display: inline-block;
  background-color: #7b68ee;
  width: 45px;
  height: 45px;
  margin-left: 650px;
  border-radius: 50px;
  position: static;
}

title {
  font-family: '문체부 쓰기 정체 보통';
}

.mainView {
  top: 5px;
  width: 80%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 20px 0 20px 0;
  text-align: center;
  position: static;
}

.titleView {
  width: 90%;
  padding-left: 20px;
  margin: auto;
  text-align: left;
  display: inline-block;
  position: static;
}

.postView {
  padding: 1em;
  position: static;
}

.centerDiv {
  display: inline-block;
  margin: 1em;
  position: static;
}

.centerDiv1{
  width : 266px;
  height : 270px;
  border : 2px solid #7b68ee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: static;
}

.centerDiv2{
  width : 270px;
  height : 110px;
  background-color : #D8D8D8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: static;
}

.centerDiv3{
  width : 266px;
  height : 270px;
  border : 2px solid #7b68ee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 5%;
  position: static;
}

.centerDiv4{
  width : 270px;
  height : 110px;
  background-color : #D8D8D8;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 0px;
  position: static;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;

}

.search {
  width: 100%;
  position: relative;

}

.searchTerm {
  float: left;
  width: 120%;
  border: 3px solid #7b68ee;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #7b68ee;

}

.searchTerm:focus{
  color: #7b68ee;

}

.searchButton {
  position: absolute;
  right: -110px;
  width: 50px;
  height: 46px;
  border: 1px solid #7b68ee;
  background: #7b68ee;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

}

.wrap{
  width: 30%;
  position: absolute;
  top: 5%;
  left: 48%;
  transform: translate(-50%, -50%);

}

.tagdiv {
  width: 266px;
  height: 30px;
  border: 2px solid #7373b7;
}

.infodiv{
  width: 266px;
  height: 73px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #7373b7;
}

.namediv {
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
  display: inline-block;
}

.circlediv{
  width: 42px;
  height: 42px;
  background-color: #202022;
  border-radius: 42px;
  text-align: right;
  display: inline-block;
  position: relative;
  left: 30px;
  top: 15px;
  color: #ffffff;
}
