@font-face{
font-family:'a타이틀고딕1';
src: url(a타이틀고딕1.ttf) format('truetype');
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'a타이틀고딕1';
}

.back{
  display: inline-block;
  float: right;
  width: auto;
  height: auto;
  position: relative;
}

.register{
  display: inline-block;
  margin-left: 25%;
  position: absolute;
  text-align: center;
  margin-top: 15%;
}

input[type="text"] {
  line-height: 20%;
  float: left;
  width: 300px;
  height: 30px;
  margin-top: 2px;
}

input[type="email"] {
  line-height: 20%;
  float: left;
  width: 300px;
  height: 30px;
  margin-top: 2px;
}

input[type="password"] {
  line-height: 20%;
  float: left;
  width: 300px;
  height: 30px;
  margin-top: 2px;
}

input[type="submit"] {
 line-height: 20%;
 float: left;
 height: 30px;
 background: #7b68ee;
 border-radius: 5px;
}

a{
  text-align: center;
  text-decoration: none;
  color: black;
}

span{
  line-height: 100%;
  float: left;
}

form{
  border: 1px;
}

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

a.animated-button.victoria-one {
    border: 2px solid #7b68ee;
    width: 150px;
    height: 10px;
    text-align: center;
}
a.animated-button.victoria-one:after {
    background: #7b68ee;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:12px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

h1{
  text-align: left;
  line-height: 20%;
}
